*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body{
  width: 70%;
  margin: 15px auto;

}

.banner, .jumbotron{
  margin-bottom: 20px;
}

.banner{
  background-color: #E47BE4;
  height: 100px;
  
}

.jumbotron{
  height: 400px;
  background-color: #E1D67A ;
}

.container-main, .banner-main, .credits{
  margin-bottom: 15px;
}

.container-main{
  height: 600px;
  background-color: #0186FD ;
}

.banner-main{
  height: 75px;
  background-color: #ABCFE7;
}

.mid.pannel{
  width: 56%;
  margin: 0 2%;
}

.pannel{
  float: left;
  min-height: 82%;
  min-width: 20%;
  background-color: #ABCFE7;
}

.credits{
  height: 50px;
  background-color: #8801FE;
}